/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #088278;
    --primary-hover: #044742;
    --primary-focus: rgba(216, 27, 96, 0.125);
    --primary-inverse: #e6faf8;
}

.margins {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align:left;
}
.center {
    text-align:center;
}
.right {
    text-align:right;
}
.smallh2 {
    --font-size: 1.25rem;
    --typography-spacing-vertical: 1.6rem;
}