{% load custom_tags %}

<nav class="container-fluid azur">
    <ul>&nbsp;</ul>
    <ul
        <li>
            <a href="/">
                Alle Rezepte
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <details role="list">
                <summary aria-haspopup="listbox" role="link" class="contrast">Tags</summary>
                <ul role="listbox">
                    <li>
                        <a href="/">
                            Alle Rezepte
                        </a>
                    </li>
                    {% taglist %}

                    <li role="separator"></li>

                </ul>
            </details>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/admin/">
                Bearbeiten
            </a>
        </li>
    </ul>
    <ul>&nbsp;</ul>
</nav>
<nav class="container">
    <ul>
        <li>
            <form action="{% url 'search' %}" method="get">
                <input type="search" id="search" name="search" autocomplete="off" placeholder="Suche">
            </form>                                        
        </li>
    </ul>
    <ul id="autocomplete-results"></ul>
</nav>



