{% load custom_tags %}

<nav class="container">
    <ul>
        <li>
            <details role="list">
                <summary aria-haspopup="listbox" role="link" class="contrast">Rezepte</summary>
                <ul role="listbox">
                    <li>
                        <a href="/">
                            Alle Rezepte
                        </a>
                    </li>
                    {% taglist %}

                    <li role="separator"></li>
                    <li>
                        <a href="/admin/">
                            Bearbeiten
                        </a>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <a href="/">
                Liste
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <form action="{% url 'search' %}" method="get">
                <input type="search" id="search" name="search" autocomplete="off" placeholder="Suche">
            </form>                                                     
        </li>
    </ul>
</nav>
<main class="container"><div class="acs"><ul id="autocomplete-results"></ul></div></main>

