{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load custom_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <form action="{% url 'change-portions' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="btn" value="OK">
    </form>
    
    <h1>{{ page.title }}</h1>

    {% for section in page.sections %}
        <h3>
            {% if section.value.heading %}
                {{ section.value.heading }}
            {% else %}
                Rezept
            {% endif %}
        </h3>

        <table>
            {% for ingredient in section.value.ingredients %}
                <tr>
                    <td align="right">
                        &nbsp;{{ ingredient.amount|div:page.portions|calculate_portions:request|floatformat:2 }}&nbsp;
                    </td>
                    <td>&nbsp;{{ ingredient.unit }}&nbsp;</td>
                    <td>&nbsp;{{ ingredient.name }}&nbsp;</td>
                </tr>
            {% endfor %}
        </table>

        {{ section.value.instructions }}

    {% endfor %}
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    {{ page.comments|richtext }}

    <p><a href="{{ page.get_parent.url }}">zur Übersichtsseite</a></p>

{% endblock %}