{% load wagtailcore_tags %}

{% for recipe in children_sorted %}
    {% if forloop.last and page_next %}
        <h2 
            hx-get="recipe-index-paginated/?page={{page_next}}&tag={{tag_name}}" 
            hx-trigger="revealed" 
            hx-swap="afterend"
            hx-disinherit="true" 
            class="smallh2"
        ><a href="{% pageurl recipe %}">{{ recipe.title }}</a></h2>
    {% else %}
        <h2 class="smallh2"><a href="{% pageurl recipe %}">{{ recipe.title }}</a></h2>
    {% endif %}
{% endfor %}
