{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load custom_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <main class="container">
        <h1>{{ page.title }}</h1>
        <form action="{% url 'change-portions' %}" method="POST">
            <div class="grid margins">
                <label>Anzahl der Portionen:
                    {% csrf_token %}
                    {{ form }}
                </label>
            </div>
        </form>
        {% for section in page.sections %}
            <article>
                <h2>
                    {% if section.value.heading %}
                        {{ section.value.heading }}
                    {% else %}
                        Rezept
                    {% endif %}
                </h2>
                <details open>
                    <summary>Zutaten</summary>
                    <table role="grid" class="margins">
                        <thead>
                        <tr>
                            <th class="right">Menge</th>
                            <th class="left">Einheit</th>
                            <th class="left">Zutat</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for ingredient in section.value.ingredients %}
                            <tr>
                                <td class="right">
                                    &nbsp;{{ ingredient.amount|div:page.portions|calculate_portions:request|floatformat:2 }}&nbsp;
                                </td>
                                <td class="left">&nbsp;{{ ingredient.unit }}&nbsp;</td>
                                <td class="left">&nbsp;{{ ingredient.name }}&nbsp;</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </details>
                <details open>
                    <summary>Arbeitsschritte</summary>
                    {{ section.value.instructions }}
                </details>
            </article>
        {% endfor %}
        <article>
            {% if page.tags.all %}
                <header>
                    <div class="grid">
                        {% for tag in page.tags.all %}
                            <div><a href="/?tag={{ tag }}" role="button">{{ tag }}</a></div>
                        {% endfor %}
                    </div>
                </header>
            {% endif %}
            <div class="grid">
                {% if page.comments %}
                    <div>
                        <h3>Kommentare</h3>
                        {{ page.comments|richtext }}
                        </details>
                    </div>
                {% endif %}
                {% if page.source %}
                    <div>
                        <h3>Quelle</h3>
                        {{ page.source|richtext }}
                    </div>
                {% endif %}
            </div>
        </article>
    </main>
{% endblock %}