{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load custom_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="header">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="content">

        <form action="{% url 'change-portions' %}" method="POST" class="pure-form">
            <fieldset>
                <label>Anzahl Portionen:</label>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="default" value="0" class="pure-button pure-button-primary"
                       style="display: none;">
                <input type="submit" name="btn_down" value="<" class="pure-button pure-button-primary">
                <input type="submit" name="btn_up" value=">" class="pure-button pure-button-primary">
            </fieldset>
        </form>

        {% for section in page.sections %}
            <h3>
                {% if section.value.heading %}
                    {{ section.value.heading }}
                {% else %}
                    Rezept
                {% endif %}
            </h3>

            <table class="pure-table">
                <thead>
                <tr>
                    <th>Menge</th>
                    <th>Einheit</th>
                    <th>Zutat</th>
                </tr>
                </thead>

                <tbody>
                {% for ingredient in section.value.ingredients %}

                    <tr class="{% cycle 'pure-table-odd' '' %}">
                        <td>
                            &nbsp;{{ ingredient.amount|div:page.portions|calculate_portions:request|floatformat:2 }}&nbsp;
                        </td>
                        <td>&nbsp;{{ ingredient.unit }}&nbsp;</td>
                        <td>&nbsp;{{ ingredient.name }}&nbsp;</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ section.value.instructions }}

        {% endfor %}
        <p>&nbsp;</p>
        <h3>Kommentare</h3>
        {{ page.comments|richtext }}
        <p>&nbsp;</p>
        -- {{ page.author }}

        <p><a class="button-cta pure-button" href="{{ page.get_parent.url }}">Zur Rezeptübersicht</a></p>

    </div>

{% endblock %}